<%= render 'longer_featured_blogs' %>
<%= render 'featured_blogs' %>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        From the Firehose
      </h3>
      
      <%= render @blogs %>

      <%= paginate @blogs %>

    </div><!-- /.blog-main -->

    <%= render 'shared/blog_sidebar' %>
    
  </div><!-- /.row -->
</main><!-- /.container -->
