<aside class="col-md-4 blog-sidebar">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">Topics</h4>
    <span class="mb-0">
      <%= link_to "Topics", topics_path %>
    </span>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Archives</h4>
    <ol class="list-unstyled mb-0">
      <li><a href="#">March 2014</a></li>
      <li><a href="#">February 2014</a></li>
      <li><a href="#">January 2014</a></li>
      <li><a href="#">December 2013</a></li>
      <li><a href="#">November 2013</a></li>
      <li><a href="#">October 2013</a></li>
      <li><a href="#">September 2013</a></li>
      <li><a href="#">August 2013</a></li>
      <li><a href="#">July 2013</a></li>
      <li><a href="#">June 2013</a></li>
      <li><a href="#">May 2013</a></li>
      <li><a href="#">April 2013</a></li>
    </ol>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><%= link_to 'Write New Blog', new_blog_path if logged_in?(:site_admin) %></li>
      <li><%= link_to fa_icon "github" %></li>
      <li><%= link_to fa_icon "twitter" %></li>
      <li><%= link_to fa_icon "facebook" %></li>
      <li><%= link_to fa_icon "instagram" %></li>
      <li><%= link_to fa_icon "twitch" %></li>
    </ol>
  </div>
</aside><!-- /.blog-sidebar -->