<div>
	<div><%= link_to "HOME", root_path %></div>
	<div><%= link_to "ABOUT", about_me_path %></div>
	<div><%= link_to "CONTACT", contact_path %></div>
	<div><%= link_to "BLOG", blogs_path %></div>
	<div><%= link_to "PORTFOLIO", portfolios_path %></div>
</div>