<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <!-- <div id="background"></div> -->
      <%= video_tag(
        'SpaceShip3.mp4',
        id: 'background',
        autoplay: true,
        loop: true,
        muted: true,
        poster: 'home.jpg')
        %>

      <%= render "shared/application_nav", location: 'top' %>

      <%= yield %>

      <%= render "shared/application_footer", location: 'top' %>

      <%= render "shared/alerts" %>

      <%= source_helper("application") %>

    </div>
  </body>
</html>
