<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      
      <%= render "blogs/blog_header", location: 'top' %>

      <%= render "shared/application_blog_nav", location: 'top' %>

      <%= yield %>

      <%= alerts %>

      <%= render "blogs/blog_footer", location: 'top' %>

    </div>
  </body>
</html>
